{{- template "body" -}}
{{- define "body" -}}<h1>{{- .PageTitle -}}<h1><ul>
    {{- range .Todos -}}
        {{- if .Done -}}
        <li>{{.Title}}</li>
        {{- else -}}
        <li>{{.Title}}</li>
        {{- end -}}
    {{- end -}}
    </ul>
{{- end -}}